/* Contact Section Styling */
.contact-section {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--dark-text); 
  text-align: center;
  padding: 0px 1rem 50px 1rem; /* top padding matches header height */
}

body.light-mode .contact-section {
  background-color: var(--primary-light);
  color: var(--light-text);
}

.contact-container {
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.contact-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact-container hr {
  border: none;
  border-top: 2px solid var(--primary-btn-bg);
  width: 99%;
  max-width: 1000px;
  margin: 10px auto 30px auto;
}

/* Contact Info */
.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
  color: var(--primary-btn-bg);
  font-weight: bold;
}

/* Contact Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

body.light-mode .contact-form {
  background-color: var(--light-bg);
}

/* Form Group Styling */
.form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--light-accent);
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: var(--primary-light);
  color: var(--light-text);
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-btn-bg);
  outline: none;
}

/* Submit Button */
.submit-btn {
  padding: 15px 30px;
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-text);
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--primary-dark);
}
